<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GitHub search</title>
    <link rel="stylesheet" href="css/main.css">
    
    <!-- Archivo de vue js-->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

</head>

<body>
    <div id="app">
        <!-- Favorites -->

        <!-- La directiva v-for sirve para recorrer los elementos de una lista, o de un elemento iterable para poder motrar un conjunto de HTML por cada elemento de la lista, en este caso recorre el mapa "favoritos". Como "favoritos es un mapa formada por clave, valor, hubo que hacer una propiedad computada llamada "valoresFavoritos" (minuto 4 del video de escuela vue) que devuelve sólo el valor del item.
        video: https://escuelavue.es/cursos/curso-vue-3-desde-cero/v-for-vue-3-buscle-listas/ , documentación vue: https://vuejs.org/guide/essentials/list.html#v-for -->
        
        <!-- mostrarFavorito(favorito) al detectar el evento @click envía el favorito del v-for al metodo "mostrarFavorito", este metodo carga el favorito en resultado para que se muestre en el cuadro de búsqueda
        escuelavue: https://escuelavue.es/cursos/curso-vue-3-desde-cero/v-on-eventos-vue-3-mostrar-favoritos/
        -->

        <!-- Trnasition-group es una etiqueta de vue para animar listas y grupos de objetos con v-for, es importante que tengan la directiva " :key="favoritos.id" "
        Escuelavue: https://escuelavue.es/cursos/curso-vue-3-desde-cero/transiciones-vue-3/
        Documentación: https://vuejs.org/guide/built-ins/transition-group.html  -->
        
        <div class="favorites">
            <transition-group name="list">
                <div class="favorite" v-for="favorito in valoresFavoritos" :key="favorito.id">
                    <a @click.prevent="mostrarFavorito(favorito)" href="#" target="_blanck">
                        <img :src="favorito.avatar_url" :alt="favorito.name" class="favorite__avatar">
                    </a>
                </div>
            </transition-group>
        </div>
        

        <!-- Content -->
        <article class="content">
            <h1 class="content__title">{{ mensage }}</h1>

            <!-- Search --> 

            <!-- La directiva: v-on:submit.prevent="doSearch" 
            hace que cuando reconoce un evento submit en el formulario, realiza un prevent para que no recargue la pagina, y llama a la funcion "doSearch()"
            mas info en https://escuelavue.es/cursos/curso-vue-3-desde-cero/metodos-eventos-vue-3/
            -->
            <form class="search" v-on:submit.prevent="doSearch">
                <input v-model="busqueda" type="text" class="search__input" required placeholder="Search GitHub users">
                <input type="submit" class="search__submit" value="Search">
            </form>

            <!-- Result -->
            <!-- Transition es una etiqueta de vue para hacer transiciones
            Escuela-vue: https://escuelavue.es/cursos/curso-vue-3-desde-cero/transiciones-vue-3/
            Documentación: https://vuejs.org/guide/built-ins/transition.html#css-based-transitions -->

            <Transition>
            <div class="result" v-if="resultado">
                
                <!-- Para interpolar texto dentro de etiquetas: 
                como en: {{ resultado.name }}, {{resultado.bio}} trae el resultado de la busqueda e interpola el texto
                https://vuejs.org/guide/essentials/template-syntax.html#text-interpolation -->

                <!-- Para convertir un atributo HTLM en dinamico, como por ejemplo src, id, etc:
                Se puede usar "v-bin:atributo", o directamente ":atributo" por ejemplo para el atributo src, se lo hace dinámico de esta manera v-bind:src="resultado.avatar_url", o de la forma corta : (href="resultado.blog")
                https://vuejs.org/guide/essentials/template-syntax.html#attribute-bindings -->

                <!-- Para lanzar una función cuando ocurre un evento podemos usar v-on, o la manera abreviasa @click.
                En este ejercicio cuando se hace click sobre la etiqueta <a> lanza la funcion o metodo agregarFavoritos -->

                <!-- Propiedades computadas: Utilizamos las propiedades computadas para hacer calculos y aplicar lógica compleja para mostrar u ocultar dintintos elementos del HTML, entonces en una función hacemos todos los calculos y devolvemos ture o false, entonces en conjunto con  v-if // v-else renderizamos o no los elementos html. Para lanzar las funciones que determinaran si algo se muestra o no utilizamos v-on (o su forma corta @click), en este ejemplo para lanzar las funciones agregarFavoritos o eliminarFavoritos segun corresponda https://vuejs.org/guide/essentials/computed.html https://escuelavue.es/cursos/curso-vue-3-desde-cero/vue-3-propiedades-computadas/
                -->    

                <a v-if="esFavorito" href="#" class="result__toggle-favorite" @click="eliminarFavoritos">Eliminar de favoritos ⭐</a>
                
                <a v-else href="#" class="result__toggle-favorite" @click="agregarFavoritos">Agregar a favoritos ⭐</a>
                
                <h2 class="result__name">{{ resultado.name }}</h2>
                <img v-bind:src="resultado.avatar_url" :alt="resultado.name" class="result__avatar">
                <p class="result__bio">{{ resultado.bio }}</p>
                <br>
                <a :href="resultado.blog" target="_blank" class="result__blog"> {{ resultado.blog }}</a>
            </div>
            <p v-else>Listo para nueva búsqueda...</p>
            </Transition>

            
            <!-- Error -->
            <div class="result__error" v-if="error">{{ error }}</div>

        </article>
    </div>
    <script src="js/main.js"></script>
    <script>
        // Especifico donde montar vue aca para tener acceso a mountedApp desde consola
        const mountedApp = app.mount("#app")
    </script>
</body>

</html>